<html ng-app="App" ng-controller="UsersController">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{{pageTitle}}</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="fontawesome/css/font-awesome.css">
	<style type="text/css" media="screen">
		body {
			padding-top: 30px;
			background-color: #fb4141;
		}
		th {
			text-align: center;
		}
		.container {
			padding-top: 20px;
			background-color: rgba(227,227,227,0.81);
			border-radius: 15px;
		}
		hr {
			border-color: #fb4141;
		}
		th, h1, h2, h3 {
			color: #fb4141;
		}
	
	</style>
</head>

<body>
	<div class="container">
		<h2><img src="img/angularjs.png" alt="" height="40" =""> {{pageTitle}}</h2>
		<form class="form-inline" ng-submit="addUser()">
			<div class="form-group">
				<input class="form-control" ng-model="name" type="text" placeholder="Name">
			</div>
			<div class="form-group">
				<input class="form-control" ng-model="email" type="text" placeholder="Email">
			</div>
			<div class="form-group">
				<input class="form-control" ng-model="password" type="password" placeholder="Password">
			</div>					
			<button class="btn btn-default" type="submit">Save</button>
		</form>
		<hr>
		<div class="checkbox">
			<label>
				<input type="checkbox" ng-click="toggleUsersTable()">
				{{usersTableToggleButtonTitle}}
			</label>
		</div> 
		<table class="table table-bordered" ng-show="usersTableisVisible">
			<thead>
				<tr>
					<th>Name &nbsp;&nbsp;
						<a href="" ng-click="predicate = 'name'; reverse = !reverse">
							<i class="fa fa-sort-alpha-asc" ></i>
						</a>
					</th>
					<th>Email &nbsp;&nbsp;
						<a href="" ng-click="predicate = 'email'; reverse = !reverse">
							<i class="fa fa-sort-alpha-asc" ></i>
						</a>
					</th>
					<th style="width: 220px">Creation Date &nbsp;&nbsp;
						<a href="" ng-click="predicate = 'creation_date'; reverse = !reverse">
							<i class="fa fa-sort-alpha-asc" ></i>
						</a>						
					</th>
					<th style="width: 100px">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users | orderBy:predicate:reverse ">
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td>{{user.creation_date}}</td>
					<td style="text-align: center">
						<button ng-click="removeUser($index, user._id)" class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i></button>
						<button ng-click="openEditUser(user, user._id)" class="btn btn-sm btn-warning"><i class="fa fa-edit"></i></button>
					</td>
				</tr>
			</tbody>
		</table>

		<script type="text/ng-template" id="editModalContent.html">
			<div class="modal-header">
				<h3>Edit User</h3>
			</div>
			<form ng-submit="save()">
				<div class="modal-body">
					<div class="form-group">
						<label>Name</label>
						<input class="form-control" type="text" ng-model="user.name" />
					</div>
					<div class="form-group">
						<label>Email</label>
						<input class="form-control" type="text" ng-model="user.email" />
					</div>
					<div class="form-group">
						<label>Password</label>
						<input class="form-control" type="password" ng-model="user.password" />
					</div>
				</div>
				<div class="modal-footer">
					<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
					<input class="btn btn-primary" type="submit" value="Save">
				</div>
			</form>
		</script>
	</div>

	<!-- Scripts -->
	<script src="js/angular.min.js"></script>
	<script src="js/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<!-- Controllers Scripts -->
	<script src="js/app.js"></script>
	<script src="js/users_controller.js"></script>

</body>
</html>